---
index: 66
title: Vérification de clé
---
# Vérification de clé

Dans la cryptographie par clé publique, chaque personne possède un ensemble de clés. Pour envoyer un message en toute sécurité à une personne en particulier, vous chiffrez votre message à l’aide de sa clé publique. Un attaquant peut être capable de vous tromper en utilisant sa clé, ce qui signifie qu’il sera capable de lire votre message, au lieu du destinataire prévu. Cela signifie que vous devez vérifier qu’une personne particulière utilise une clé. La vérification des clés est un moyen qui vous permet de faire correspondre une clé à une personne.