---
index: 83
title: Vérification hors bande
---
# Vérification hors bande

« Hors bande » signifie tout moyen de communication en dehors de la méthode actuelle. La vérification de l’identité de la personne à qui vous parlez via un système de communication non sécurisé nécessite souvent de communiquer hors bande via une autre méthode moins vulnérable au même type d’attaque. Ainsi, par exemple, vous pouvez vérifier que vous utilisez la bonne clé publique de quelqu’un en lui parlant en personne, avant de l’utiliser pour chiffrer votre courrier électronique.